

.header {
  .tabs {
    margin-top: 15px;
    li {
      color: #ffffff;
      background-color: #0770e3;
      margin: 0px 3px;
      border-radius: 8px 8px 0px 0px;
      a {
        color: #ffffff;
      }
      &.is-active {
        background-color: #042759;
      }
    }
  }
}