.map {
  .pins {
    text-transform: uppercase;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    padding: 5px;
    font-size: 25px;
  }
  .pins:hover {
    border-radius: 80%;
  }

  .pin-hover {
    font-family: 'Antic Slab', serif;
    background-color: rgba(241, 59, 59, 0.822);
    padding: 3px;
    font-weight: bold;
    color: rgb(237,228,212,255);
  }
  

  .info {
    background-color: rgb(241, 59, 59, 0.822);
    color: rgb(237,228,212,255);
    }
}