.first-section {
    margin: 3%;
    position: relative;
}

.tittle-one {
    position: absolute;
    color: #f6f3f4;
    font-weight: 700;
    top: 200px;
    left: 150px;
    font-size: 60px !important;
}

.form {
    position: absolute;
    color: #f6f3f4;
}